{% extends 'base.html' %}


{% block content %}
<div class="content container-fluid">
    <div class="row">
        <div class="col-xl-12 col-sm-6 col-12 d-flex">
            <div class="card bg-two w-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h3> Welcome {{ user.first_name }} {{ user.last_name}}!! </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-10">
            <div>
                <i class="fa-solid fa-user"></i><span>Basic information</span>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover mb-0">
                        <tr>
                            <th>First name</th>
                            <td>{{ user.first_name }}</td>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>  
                        <tr>
                            <th>Last name</th>
                            <td>{{ user.last_name }}</td>
                            <th>Gender</th>
                            <td>{{ user.gender }}</td>
                        </tr> 
                        <tr>
                            <th>profile picture</th>
                            <td><img src="{{ user.profile_pic.url}}" alt="" width="70" height="70"></td>
                            <th>Mobile Number</th>
                            <td>{{ user.mobilenumber }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
