# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Environment Variables
# =========================
.env

# =========================
# SQLite Database
# =========================
db.sqlite3

# =========================
# Django Static Files
# =========================
staticfiles/

# =========================
# User Uploaded Media
# Uncomment if you don't want uploaded files in Git
# =========================
# media/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db