{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Request Referral</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item active"> referral</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11">
            <div class="card card-wrapper">
                <div class="card-header">
                    <h5 class="card-title">Referral</h5>
                </div>
                <div class="card-body">

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label class="mt-2">Hospital name</label>
                            <div class="col-md-11">
                                <select class="form-control" name="hospital" id="hospital_id">
                                    <option value="">select hospital</option>
                                    {% for hospital in hospitals %}
                                    <option value="{{ hospital.id }}">{{ hospital }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mt-2">select dependant</label>
                            <div class="col-md-11">
                                <select name="dependants" id="dependant" class="form-control">
                                    <option value="">Dependant</option>
                                    {% for dependant in dependants %}
                                    <option value="{{ dependant.id }}">{{ dependant }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mt-2">Date</label>
                            <div class="col-md-11">
                                <input type="date" class="form-control" name="referral_date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mt-2">Time</label>
                            <div class="col-md-11 ">
                                <input type="time" class="form-control" name="referral_time" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mt-2">Medical issue</label>
                            <div class="col-md-11">
                                <textarea name="additional_msg" class="form-control" rows="4" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Inpatient/Outpatient</label>
                            <div class="col-md-11">
                                <select name="patienttype" class="form-control">
                                    <option value="Outpatient">Outpatient</option>
                                    <option value="Inpatient">Inpatient</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <div class="col-xl-11">
                                <button type="submit" class="btn btn-primary">Request</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}